html body {
  background-color: #000000;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

