html, body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  box-sizing: border-box;
  color: white;
}

body nav {
  background-color: #000000;
  color: white;
  padding: 0 2rem 0 2rem;
}

body nav a {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

body nav h1 {
  font-weight: bold;
  font-size: 50px;
  color: #ff683c;
  letter-spacing: 0.2em;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}